<p>Página inicial</p>

<%=link_to 'Usuários', users_path%><br/>
<%=link_to 'Grupos', groups_path%><br/>
<%=link_to 'Generos', genders_path%><br/>
<%=link_to 'habilidades', habilities_path%><br/>
<%=link_to 'clans', clans_path%><br/>
<%=link_to 'Membors de clans', clan_members_path%><br/>