<p>Generos cadastrados:</p>

<%@genders.each do |gender|%>
	<%=gender.name%>
	<%= link_to 'Apagar', gender_path(gender.id), method: :delete%>
	<%= link_to 'Editar', edit_gender_url(gender.id)%><br/>
<%end%>
<br/>
<%= link_to 'Cadastrar novo genero', new_gender_url, method: :get, :class => "btn btn-primary"%><br/>
<%=link_to 'Voltar para a página principal', main_index_url, :class => "btn btn-primary"%>