<p>Dados do usuário:<p/><br/>
<p>Nome:<%=@user.name%></p>
<p>Apelido:<%=@user.nickname%></p>
<p>Email:<%=@user.email%></p>
<p>Data de nascimento:<%=@user.dateOfBirth%></p>
<p>Nível:<%=@user.level%></p>
<p>Local de nascimento:<%=@user.birthLocation%></p>
<p>Moedas:<%=@user.coins%></p>
<p>Grupo:<%=@groupName%></p>
<p>Genero:<%=@genderName%></p>

<%=link_to 'Editar usuário', edit_user_url(@user.id), method: :get%>
<%=link_to 'Apagar usuário', user_path(@user.id), method: :delete%><br/>
<%=link_to 'Voltar', users_path%>